<div fxLayout fxLayoutAlign="center center" id="content-wrapper" (click)='nextGreeting()'>
	<div id="greeting-container" fxLayout fxLayout.xs="column" fxLayoutGap="32px">
		<div id="picture-container" fxFlexAlign="end" fxFlexAlign.xs="center" fxFlexOrder="1" fxFlexOrder.xs="2">
			<div class="face-pic" *ngFor='let greeting of greetingSet'>
				<img id="greeting-image" [@fadeInOut]="greeting.state"
					*ngIf='greeting.state === "stated"'
					src={{faceImages[greetingSet[greetingIndex].faceId]}} />
			</div>
		</div>
		<div id="bubble" fxLayout="column" fxFlexOrder="2" fxFlexOrder.xs="1">
			<div id="bubble-container" *ngIf='greetingStarted'>
				<div class="greeting-bubble" fxHide="false" fxHide.xs
					(@bounceEmphasis.done)="bounceDown($event)"
					[@bounceEmphasis]="bounceState">
					<img id="greeting-bubble" src="assets/images/speech_bubble.png">
				</div>
				<div class="greeting-bubble" fxShow="false" fxShow.xs
					(@bounceEmphasis.done)="bounceDown($event)"
					[@bounceEmphasis]="bounceState">
					<img id="greeting-bubble" src="assets/images/speech_bubble_mob.png">
				</div>
				<div id="greeting-text-container"
					*ngFor='let greeting of greetingSet'>
					<div class="greeting-text" [@flyInOut]="greeting.state"
						*ngIf='greeting.state === "stated"' [innerHTML]="greeting.message"></div>
				</div>
			</div>
			<div id="bubble-offseter" style="height: 72px" fxHide="false" fxHide.xs></div>
		</div>
	</div>
</div>